body {
	background-color:#eee;
}

div .controller {
	position: 'fixed';
	top: '20%';
	left: '0px';
	width: '3%';
	box-shadow:'0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
	height: '50%';
	z-index: '2';
	background-color: 'blue';
}
.top-buffer { margin-top:20px; }